<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.hcb.jingle"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <permission
        android:name="getui.permission.GetuiService.${PACKAGE_NAME}"
        android:protectionLevel="normal" />
		
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="getui.permission.GetuiService.${PACKAGE_NAME}" />
	
    <application
		android:name=".ThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.hcb.jingle.act.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		<activity
            android:name="com.hcb.jingle.act.NaviActivity"
            android:screenOrientation="portrait" />
		
        <!-- 配置 getui Receiver -->
        <receiver
            android:name="com.hcb.jingle.receiver.GetuiReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.igexin.sdk.action.${GETUI_APP_ID}" />
            </intent-filter>
        </receiver>

        <!-- 配置 UMENG  -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}"></meta-data>	
			
    </application>

</manifest>
